<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <link rel="shortcut icon" type="image/png" href="~/img/favicon.png">
    <title>Solution Center: Cutterz Barber Shop</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Solution Center:</h1>
            <h1><em>Cutterz Barber Shop</em></h1>
        </div>
        @RenderBody()
    </div>
</body>
</html>
