<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="~/css/homepage_styles.css" type="text/css">
        <link rel="shortcut icon" type="image/png" href="~/img/favicon.png">
        <title>Solution Center: Cutterz Barber Shop</title>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-3" id="sideMenu">
                <form action="/login" method="post" id="authentication">
                    <label for="userName">User Name :</label><br>
                    <input name="userName" type="text"></input><br>
                    <label for="password">Password :</label><br>
                    <input name="password" type="text"></input><br><br>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
                <h1><em>O p t i o n s : </em></h1><br>
                <h2><a href="/" class="btn btn-dark">View stylists</a></h2>
                <h2><a href="/" class="btn btn-dark">Add a new stylist</a></h2>
                <h1>- - - - - - -</h1>
                <h2><a href="/" class="btn btn-dark">View services</a></h2>
                <h2><a href="/" class="btn btn-dark">Add a new service</a></h2><br>
            </div>
            <div class"col-lg-9" id="welcomeImage">
            </div>
        </div>
    </body>
</html>
