<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="~/css/homepage_styles.css" type="text/css">
        <link rel="shortcut icon" type="image/png" href="~/img/favicon.png">
        <title>Solution Center: Cutterz Barber Shop</title>
    </head>
    <body>
        <div class="row">
            <div class="col-lg-3" id="sideMenu">
                <h1 id="specialWelcome">Welcome back <strong><em><span style="font-size:40px">@Model!!</span><em></strong></h1>
                <h1><em>O p t i o n s : </em></h1><br>
                <h2><a href="/stylists" class="btn btn-dark">View stylists</a></h2>
                <h2><a href="/stylists/new" class="btn btn-dark">Add a new stylist</a></h2>
                <h1>- - - - - - -</h1>
                <h2><a href="/specialties" class="btn btn-dark">View specialties</a></h2>
                <h2><a href="/specialties/new" class="btn btn-dark">Add a new specialty</a></h2><br>
            </div>
            <div class"col-lg-9" id="welcomeImage">
            </div>
        </div>
    </body>
</html>
