@{
  Layout = "_Layout";
}
<h1>Stylists</h1>
<h2><em>Add a new Client</em></h2>

<form action='/stylists/@Model.Id/clients' method='post'>
    <label for="clientName">Client name:</label>
    <input id="clientName" name="clientName" type="text">
    <label for="serviceReq">Requested service:</label>
    <input id="serviceReq" name="serviceReq" type="text">
    <label for="appointment">Days available to work:</label>
    <input id="appointment" name="appointment" type="datetime-local">
    <button type='submit' class="btn btn-dark">Add Client</button>
</form>

<a href="/stylists/@Model.Id" class="btn btn-dark">Return to stylist info page</a>
<a href="/stylists" class="btn btn-dark">Return to list of Stylists</a>
<a href="/" class="btn btn-dark">Return to homepage</a><br><br>
